<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Film Focus</title>
    <meta charset="utf-8">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="{% static 'movies/stylesheet.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1 class="web-name">Film Focus</h1>
    </header>

    <div id="navbar-fixed">
        <button>Home</button> &nbsp;
        <button>Movies</button> &nbsp;
        <button>Actors</button> &nbsp;
        <button>Tags</button> &nbsp;
        
        <button style="float: right;">Search</button>
        <input type="text" style="float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 14px;">
    </div>
    <hr>

   


    <script src="{% static 'functions.js' %}"></script>


</body>


</html>